
@{
    ViewBag.Title = "Bạn không đủ quyền thực hiện thao tác này!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12" style="text-align:center;">
    <img src="~/Imgs/access-denied.jpg" width="200px" />
    <h4 style="font-weight:bold;color:darkred;">@ViewBag.Title</h4>
    <hr/>
</div>


